:root {
    /* fonts */
    --main-fonts:"Roboto";
    --logo-fonts: "Raleway";   
    /* text colors */
    --main-colors-font: #212121;
    --secondary-colors-font: #757575;
    --accent-color-font: #2196F3;
    --hero-color: #FFFFFF;
    --adrees-colors: rgba(255, 255, 255, 0.6);
    /* bg-colors */
    --main-bg: #fff;
    --secondary-bg: #F5F4FA;
    --footer-hero-bg: #2F303A;
    /* others */ 
    --btn-hero: #2196F3;
    --btn-hover: #188CE8;
}

body {
    font-family: var(--main-fonts), "Sans-serif";
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-colors-font);
    background-color: var(--main-bg);    
}

/* common styles start */
.link {
    text-decoration: none;
    font-style: normal 
}

.list {
    list-style: none;
}

.section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;    
}

/* <!-- Section header --> */
.header-logo {
    font-family: var(--logo-fonts);
    font-weight: 700;   
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-colors-font);     
}

.header-logo-web {
    color: var(--accent-color-font);
}

.header-link{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-colors-font);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color-font)
}

.link.current {
    color: var(--accent-color-font);
}

.header-mail {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-colors-font)
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color-font)
}

.header-tel {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-colors-font)
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color-font)
}

/* Section Hero */
.hero {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: var(--footer-hero-bg)
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-color);
    
    background: var(--btn-hero);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--btn-hover);
}

/* Section About */
.about-section {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
}

.about-item {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-colors-font);
}

/* Section Team */
.team-list {
    background: var(--secondary-bg);
}

.team-personal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;    
}

.team-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-colors-font);
}

/* <!-- Section footer --> */
.footer {
    background-color: var(--footer-hero-bg);
}

.footer-logo {
    font-family: var(--logo-fonts);
    font-weight: 700;   
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hero-color); 
}

.footer-address {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--hero-color);
}

.footer-address:hover,
.footer-address:focus {
    color: var(--accent-color-font)
}


.footer-mail {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color-font)
}

.footer-tel {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color-font)
}


/* Page Portfolio*/
.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-colors-font);

    background: var(--secondary-bg);
    border-radius: 4px;
    
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--hero-color);
    background-color: #188CE8;  
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-colors-font);
    text-decoration: none;    
}

.portfolio-item {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--secondary-colors-font);
    text-decoration: none;
}


